/* Global Attributes */

@font-face {
    font-family: "Computer Modern";
    src: url(res/cmunss.ttf);
}

html {
    height: 100%;
}

body {
    background-color: black;
    background-image: url(res/background.png);
    background-size: cover;
    background-repeat: no-repeat;

    margin: 0;
    height: 100%;

    font-family: 'Computer Modern', monospace;
    font-size: 1vw;
    color: rgb(255, 220, 255);

    display: flex;
    flex-direction: column;
    align-items: stretch;

    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    background-image: url("res/cvre_header.svg");
    background-repeat: no-repeat;
    background-size: 32% auto;
    background-position: center top;
}

.header .title {
    font-size: 1.8em;
    margin-top: 1%;
}

.header .score {
    position: fixed;
    top: 1.5%;
    font-size: 2.2em;
}

.header .score.left {
    left: 50%;
    margin-left: -13%;
}
.header .score.right {
    right: 50%;
    margin-right: -13%;
}

/* Footer */

.caster-info, .song-info, .next-song {
    background-color: rgba(120, 60, 180, 0.9);
    overflow: wrap;
}

.caster-info {
    position: fixed;
    bottom: 1.8%;
    left: calc(1pt + 1.4%);
    width: 11.4%;
    height: 18%;
    
    font-size: 1.3em;
    padding: 1%;

    border-radius: 10pt;
}

.song-info {
    position: fixed;
    bottom: 0.5%;
    left: 50%;
    width: 35.6%;
    height: 18%;
    
    font-size: 1.7em;
    margin-left: -18.8%;
    padding: 1%;
    padding-top: 3%;

    border-radius: 10pt;
}

.next-song {
    position: fixed;
    bottom: 6.4%;
    right: 0;
    width: 13.5%;
    height: 11.8%;
    
    font-size: 1.7em;
    margin-left: -18.8%;
    padding: 1%;
    padding-left: 5%;

    text-align: right;
    line-height: 11.8%;

    background-color: transparent;
    background-image: url(res/next_song.svg);
    background-size: cover;
}

.next-song p {
    line-height: 1.4;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3%;
}

/* Logo */

.cvre-logo {
    position: fixed;
    bottom: 22%;
    left: 50%;
    width: 14%;
    height: 12%;
    margin-left: -7%;
    z-index: 2;
}

/* Stream windows */

.streams {
    position: fixed;
    bottom: 27%;
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

    text-align: center;
}

.streams .stream {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    padding: 0 0.4%;
}

.stream .streamer {
    background-color: rgba(120, 60, 180, 0.9);
    margin-bottom: 0.8%;
    padding: 1.2%;

    font-size: 1.6em;

    border-radius: 10pt;
}

.stream iframe {
    flex-grow: 1;
}

/* Scoring lights */

.points {
    position: fixed;
    top: 1.5%;

    width: 20%;
    height: 6%;

    display: flex;
    justify-content: flex-start;

    overflow: hidden;
}

.points.left {
    flex-direction: row-reverse;
    right: 66%;
}

.points.right {
    flex-direction: row;
    left: 66%;
}

.point {
    width: 5vh;
    height: 5vh;

    display: inline-block;
    margin: 0 5%;

    background-size: cover;
    background-image: url(res/light_off.svg);
}

.point.on {
    background-image: url(res/light_on.svg);
}