input[type="text"] {
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    max-width: 100%;
    padding: 0;
}

.song-info {
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

input[type="text"]:hover {
    font-weight: bolder;
}

img#submit {
    cursor: pointer;
}

.points .point {
    cursor: pointer;
}
.points .point:last-child {
    background-image: url(res/light_add.svg);
}
.points .point:hover {
    background-image: url(res/light_remove.svg);
}
.points .point:last-child:hover {
    background-image: url(res/light_on.svg);
}

/* Stream window */

.stream .window {
    flex-grow: 1;
    background-color: black;
    padding-top: 10%;
    font-size: 1.8em;
}

/* Adjustments to account for textbox */

.title input[type="text"] {
    text-align: center;
}

.score {
    width: 1.1%;
}
.score input[type="text"] {
    width: 100%;
}

.next-song input[type="text"] {
    width: 100%;
}

/* Autocompleter? */

.song-info select {
    border: 1px solid rgb(255, 220, 255);
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    width: auto;
}

select option {
    color: black;
    background-color: transparent;
}